.nav {
    //Includes
    @include spacing(5px);
    background-color: $tertiary-color;

    li {
        list-style: none;
        text-decoration: none;
    }

    a {
        color: $primary-color;
    }

    a:hover {
        color: $secondary-color;
    }
}